body {
    background-color: powderblue;
    font-size: 220%;
}
h1 {
    color: blue;
    font-size: 200%;
}
h2 {
    font-family: monospace;
    font-feature-settings: "blwf";
    font-size: 120%
}
button{
    display: block;
    margin-top: 10px;
}
p {
    color: red;
    font-style: oblique;
} 