body {
    background-color: #7f7f7f;
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    background-image: url('https://thumbs.dreamstime.com/z/milk-splash-14275789.jpg');
    color: white; 
}

html {
    box-sizing: border-box;
    margin: 0px; 
    padding: 0px; 
    border: 0px;
}

.item-header {
    grid-area: header;
    background: url("http://www.carolinaelectricalresources.com/images/Header.jpg") no-repeat;
    background-size: 100% 100%;
}
.item-navigation {
    grid-area: navigation;
}
.item-main {
    grid-area: main;
}
.item-footer {
    grid-area: footer;
}

.item-aboutMe {
    grid-area: aboutMe;
}

.container {
    box-sizing: border-box;
    display: grid;
    margin: 0px;
    grid-gap: 0px;
    grid-template-columns: 50px 50px calc(100vw - 210px) 50px 50px;
    grid-template-rows: 20vh calc(70vh - 15px) 10vh; 
    grid-template-areas:
        "header header header header header"
        "navigation . main main main "
        "footer footer footer footer aboutMe";;
}